@import '../../../scss/variables.scss';
@import '../../../scss/mixins.scss';

.MenuContainer {
  @include displayFlex;
  @include flexFlow(column, nowrap);
  width: 100%;
  max-width: 360px;
  height: calc(100vh - 65px);
  max-height: 100vh;
  margin-right: 20px;
  padding: 10px 0 10px 10px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #bcc0c4;
  position: fixed;

  &.Left {
    left: 0;
  }

  &.Right {
    right: 0;
  }

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: $site-light-grey;
  }

  &::-webkit-scrollbar-thumb {
    background: #bcc0c4;
    border-radius: 10px;
  }
}
