@import '../../../scss/mixins.scss';

.UserProfile,
.UserName {
  position: absolute;
  z-index: 9;
}

.UserProfile {
  top: 10px;
  left: 6px;
}

.UserName {
  bottom: 10px;
  color: #fff;
  width: 100%;
  text-align: center;
  font-weight: 600;
}
