@import '../../../../scss/variables.scss';
@import '../../../../scss/mixins.scss';

.LeftMenuShotcuts {
  @include flexSpaceBetween;
  @include flexFlow(column, nowrap);
  padding: 5px 0;
  border-top: 2px solid $site-hover-grey;
  min-height: 210px;
  margin-top: 13px;

  p {
    color: $site-hover-grey;
    text-align: center;
  }

  h4 {
    margin: 0;
    color: $header-text-color;
  }
}
