@import '../../../scss/mixins.scss';
.ProfileImageContainer {
  @include displayFlex;
  @include align(center);
  @include justify(center);
  max-width: 165px;
  max-height: 165px;
  background-color: #fff;
  border-radius: 50%;
  padding: 3px;

  img {
    border-radius: 50%;
    -o-object-position: top;
    object-position: top;
    -o-object-fit: cover;
    object-fit: cover;
    cursor: pointer;
    opacity: 0.9;

    &:hover {
      opacity: 1;
    }
  }
}
