@import '../../../scss/variables.scss';
@import '../../../scss/mixins.scss';

.MenuButtonContainer {
  @include displayFlex;
  @include alignCenter;
  width: 100%;
  height: 80%;
  margin: 5px;
  color: $header-text-color;
  border-radius: 10px;
  cursor: pointer;

  &.centered {
    @include justifyCenter;
    cursor: pointer;
  }

  .MenuIcon {
    @include displayFlex;
    font-size: 1.6em;
    margin: 0 8px;
  }

  .MenuTitle {
    font-size: 1.04em;
    font-weight: 500;
  }

  &:hover {
    background-color: $site-hover-grey;
  }
}
