@import '../../../scss/variables.scss';
@import '../../../scss/mixins.scss';

.postsSection {
  @include displayFlex;
  @include justify(center);
  @include align(stretch);
  flex-shrink: 1;
  padding: 0 32px;
  box-sizing: border-box;
  flex-basis: 744px;
  flex-grow: 1;
  position: relative;
  min-width: 0;
  z-index: 0;

  .contentArea {
    @include displayFlex;
    @include flexFlow(column, nowrap);
    position: relative;
    min-width: 0;
    z-index: 0;
    max-width: 100%;
    margin-top: 13px;

    .endOfSection {
      width: 100%;
      min-height: 60px;
    }
  }
}

@media (max-width: 1700px) and (min-width: 1300px) {
  .contentArea {
    max-width: 43% !important;
  }
}

@media (max-width: 1299px) and (min-width: 1110px) {
  .postsSection {
    @include justify(flex-start);
    .contentArea {
      max-width: 70% !important;
    }
  }
}
