@import '../../../scss/mixins.scss';

.mainContentContainer {
  @include displayFlex;
  padding-top: 50px;
  overflow: hidden;
  // max-height: calc(100vh - 60px);

  .postsSection {
    @include displayFlex;
    @include flexFlow(column);
    margin: 10px auto;
    min-height: calc(100vh - 40px);
    overflow-y: auto;
    max-width: 681px;
    max-height: max-content;

    &::-webkit-scrollbar {
      width: 8px;
    }

    .endOfSection {
      width: 100%;
      min-height: 100px;
    }
  }
}
