@import '../../../scss/variables.scss';
@import '../../../scss/mixins.scss';
.postButtonContainer {
  @include displayFlex;
  @include align(center);
  width: 100%;
  background-color: $site-light-grey;
  height: 40px;
  margin: 0 6px;
  padding: 4px 15px;
  border-radius: 40px;
  color: $header-text-color;
  border: 0 none;
  cursor: pointer;
  font-size: 1.09em;

  &:hover {
    background-color: darken($site-light-grey, 4%);
  }
}
