@import '../../../scss/variables.scss';
@import '../../../scss/mixins.scss';

.headerContainer {
  @include GridColumnDivided(3);
  @include boxShadow(2px, -2px, 5px, black);
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  max-width: 100%;
  // align-items: center;
  background-color: #fff;
  z-index: 900;

  .headerRight {
    @include displayFlex;
    @include align(center);
    @include justify(flex-end);
    padding: 0 20px;
    height: 100%;

    .User {
      @include displayFlex;
      @include align(center);
      margin: 0 5px;
      padding: 3px 8px;
      cursor: pointer;
      text-decoration: none;

      span {
        margin-left: 3px;
        font-weight: bolder;
      }

      &:hover {
        background-color: $site-hover-grey;
        border-radius: 20px;
      }
    }
  }
}
