@import '../../../scss/variables.scss';
@import '../../../scss/mixins.scss';
.PostPresentationWindowContainer {
  @include displayFlex;
  @include flexFlow(column, nowrap);
  @include boxShadow(1px, 1px, 2px, black);
  width: 99%;
  background-color: #fff;
  border-radius: 10px;
  margin: 0 auto 25px auto;

  .UpperSection {
    @include displayFlex;
    @include flexFlow(column, nowrap);
    padding: 8px 12px;

    .UserLabelMenuSection {
      @include displayFlex;
      @include flexFlow(row, nowrap);
      @include justify(space-between);

      .PostMenu {
        @include displayFlex;
        @include align(center);
        @include justify(flex-end);
        position: relative;
        width: 100%;
      }
    }

    .TextSection {
      padding: 5px 2px;
    }
  }

  .CommentsSection {
    @include displayFlex;
    @include flexFlow(row, nowrap);
    padding: 0 10px;
    max-width: 100%;
    margin: 10px 0;

    .CommentForm {
      @include displayFlex;
      @include align(center);
      background-color: #f0f2f5;
      width: 100%;
      max-height: max-content;
      margin: 0;
      border-radius: 20px;
      padding: 0 5px;

      ul {
        @include displayFlex;
        @include justify(flex-end);
        max-height: max-content;
        list-style: none;
        font-size: 1.05em;
        padding: 0;
        margin: 0;

        li {
          margin: 0 6px;
          cursor: pointer;
          color: $header-text-color;
        }
      }
    }
  }
}
