@import '../../../scss/variables.scss';
@import '../../../scss/mixins.scss';

@import '../../../scss/variables.scss';
@import '../../../scss/mixins.scss';

.UserLabelContainer {
  @include displayFlex;
  @include align(center);
  width: max-content;
  max-width: 100%;
  padding: 0;
  z-index: 900;
  position: relative;

  &.buttonShape {
    padding: 2px 3px;
    background-color: $default-button-color;
  }
}
