@import '../../../scss/variables.scss';
@import '../../../scss/mixins.scss';

.UserLabelContainer {
  display: flex;
  width: max-content;
  max-width: 100%;
  padding: 0;
  z-index: 800;

  .UserProfileImage {
    border-radius: 50%;
    margin: 0 5px 0 0;

    img {
      width: 45px;
      height: 45px;
      border-radius: 50%;
    }
  }

  .DataSection {
    width: max-content;
    margin-left: 5px;

    a {
      position: relative;
      text-decoration: none;
      font-weight: bold;
      color: darken($header-text-color, 10%);

      &:hover {
        text-decoration: underline;
      }
    }

    .AdditionalData {
      @include displayFlex;
      @include justify(center);

      a,
      span {
        font-size: 0.8em;
        font-weight: 400;
        color: lighten($header-text-color, 15%);
      }

      span {
        @include displayFlex;
        @include align(center);
        @include justify(center);
        margin-left: 3px;
        cursor: pointer;
      }

      a:hover {
        text-decoration: underline;
      }

      .privacy {
        cursor: default;
        position: relative;
      }
    }
  }
}
