@import './scss/mixins.scss';

.App {
  @include flexFlow('column', 'nowrap');
  background-color: #f0f2f5;
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}
