$header-text-color: #65676b;
$site-blue-color: #1876f2;
$site-red-color: #ff0759;
$site-orange-color: #ff6501;
$site-green-color: #00e65f;
$site-light-grey: #f0f2f5;
$site-hover-grey: #e4e6e9;
$default-button-color: #e4e6eb;
$default-button-text-color: #696f79;
$dark-overlay: rgba(0, 0, 0, 0.4);
